In [3]:
import pandas as pd

# Load CSVs
sales_df = pd.read_csv("Edits May 4/output_D.csv")
games_df = pd.read_csv("Edits May 4/games.csv")
platform_df = pd.read_csv("Edits May 4/platform.csv")
publisher_df = pd.read_csv("Edits May 4/publisher.csv")

# Merge to get IDs
sales_df = sales_df.merge(games_df[['title', 'title']], on='title', how='left')
sales_df = sales_df.merge(platform_df[['platform', 'platform']], on='platform', how='left')
sales_df = sales_df.merge(publisher_df[['publisher', 'publisher']], on='publisher', how='left')

# Now rename the columns to match sale_df10
sales_df = sales_df.rename(columns={
    'game_id': 'game_id',
    'platform_id': 'platform_id',
    'publisher_id': 'publisher_id',
    'na_sales': 'NA_Sales',
    'eu_sales': 'EU_Sales',
    'jp_sales': 'JP_Sales',
    'other_sales': 'Other_Sales',
    'global_sales': 'Global_Sales'
})

# Keep only needed columns and drop text columns like title/platform/publisher
final_sales = sales_df[['game_id', 'platform_id', 'publisher_id', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']]

# Export cleaned CSV for import
final_sales.to_csv("cleaned_sales.csv", index=False)

KeyError: "None of [Index(['game_id', 'title'], dtype='object')] are in the [columns]"

In [6]:
import pandas as pd

# Load CSVs
sales_df = pd.read_csv("demo_IDs/sales.csv")
games_df = pd.read_csv("demo_IDs/games.csv")
platform_df = pd.read_csv("demo_IDs/platform.csv")
publisher_df = pd.read_csv("demo_IDs/publisher.csv")

In [22]:
import pandas as pd

# Load CSVs
sales_df = pd.read_csv("demo_IDs/sales.csv")
games_df = pd.read_csv("demo_IDs/games.csv")
platform_df = pd.read_csv("demo_IDs/platform.csv")
publisher_df = pd.read_csv("demo_IDs/publisher.csv")

# Merge to get IDs
sales_df = sales_df.merge(games_df[['ID', 'Title']], on='Title', how='left')
sales_df = sales_df.merge(platform_df[['ID', 'Platform']], on='Platform', how='left')
sales_df = sales_df.merge(publisher_df[['ID', 'Publisher']], on='Publisher', how='left')

# Now rename the columns to match sale_df10
sales_df = sales_df.rename(columns={
    'game_id': 'game_id',
    'platform_id': 'platform_id',
    'publisher_id': 'publisher_id',
    'na_sales': 'NA_Sales',
    'eu_sales': 'EU_Sales',
    'jp_sales': 'JP_Sales',
    'other_sales': 'Other_Sales',
    'global_sales': 'Global_Sales'
})

# Keep only needed columns and drop text columns like title/platform/publisher
final_sales = sales_df[['game_id', 'platform_id', 'publisher_id', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']]

# Export cleaned CSV for import
final_sales.to_csv("cleaned_sales.csv", index=False)

KeyError: "['game_id', 'platform_id', 'publisher_id'] not in index"

In [26]:
import pandas as pd

# Load CSVs
sales_df = pd.read_csv("demo_IDs/sales.csv")
games_df = pd.read_csv("demo_IDs/games.csv")
platform_df = pd.read_csv("demo_IDs/platform.csv")
publisher_df = pd.read_csv("demo_IDs/publisher.csv")

# Merge to get IDs
sales_df = sales_df.merge(games_df[['ID', 'Title']], on='Title', how='left')
sales_df = sales_df.merge(platform_df[['ID', 'Platform']], on='Platform', how='left')
sales_df = sales_df.merge(publisher_df[['ID', 'Publisher']], on='Publisher', how='left')

sales_df

,Title,Platform,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,ID_x,ID_y,ID
0,Pac-Man,2600,Atari,7.28,0.45,0.00,0.08,7.81,1,2,14
1,Pac-Man,2600,Atari,7.28,0.45,0.00,0.08,7.81,68,2,14
2,Kinect Sports,X360,Microsoft Game Studios,3.92,1.78,0.03,0.51,6.24,2,13,18
3,Metal Gear Solid,PS,Konami Digital Entertainment,3.18,1.83,0.78,0.24,6.03,3,4,9
4,Monster Hunter Freedom Unite,PSP,Capcom,0.47,0.57,4.13,0.34,5.50,4,1,6
...,...,...,...,...,...,...,...,...,...,...,...
155,Prince of Persia,X360,Ubisoft,0.54,0.35,0.02,0.10,1.01,81,13,13
156,Prince of Persia,X360,Ubisoft,0.54,0.35,0.02,0.10,1.01,87,13,13
157,Disney Infinity,PS3,Disney Interactive Studios,0.48,0.35,0.00,0.16,1.00,37,3,2
158,Disney Infinity,PS3,Disney Interactive Studios,0.48,0.35,0.00,0.16,1.00,48,3,2
159,Disney Infinity,PS3,Disney Interactive Studios,0.48,0.35,0.00,0.16,1.00,88,3,2

In [24]:
len(sales_df)

160

In [25]:
sales_df

,Title,Platform,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,ID_x,ID_y,ID
0,Pac-Man,2600,Atari,7.28,0.45,0.00,0.08,7.81,1,2,14
1,Pac-Man,2600,Atari,7.28,0.45,0.00,0.08,7.81,68,2,14
2,Kinect Sports,X360,Microsoft Game Studios,3.92,1.78,0.03,0.51,6.24,2,13,18
3,Metal Gear Solid,PS,Konami Digital Entertainment,3.18,1.83,0.78,0.24,6.03,3,4,9
4,Monster Hunter Freedom Unite,PSP,Capcom,0.47,0.57,4.13,0.34,5.50,4,1,6
...,...,...,...,...,...,...,...,...,...,...,...
155,Prince of Persia,X360,Ubisoft,0.54,0.35,0.02,0.10,1.01,81,13,13
156,Prince of Persia,X360,Ubisoft,0.54,0.35,0.02,0.10,1.01,87,13,13
157,Disney Infinity,PS3,Disney Interactive Studios,0.48,0.35,0.00,0.16,1.00,37,3,2
158,Disney Infinity,PS3,Disney Interactive Studios,0.48,0.35,0.00,0.16,1.00,48,3,2
159,Disney Infinity,PS3,Disney Interactive Studios,0.48,0.35,0.00,0.16,1.00,88,3,2

In [40]:

import pandas as pd

# Load CSVs
sales_df = pd.read_csv("demo_IDs/sales.csv")
games_df = pd.read_csv("demo_IDs/games.csv")
platform_df = pd.read_csv("demo_IDs/platform.csv")
publisher_df = pd.read_csv("demo_IDs/publisher.csv")

# Step 1: Merge with games to get game_id
sales_df = sales_df.merge(games_df[['ID', 'Title']], on='Title', how='inner', validate='many_to_many')
sales_df = sales_df.rename(columns={'ID': 'game_id'})

# Step 2: Merge with platform to get platform_id
sales_df = sales_df.merge(platform_df[['ID', 'Platform']], on='Platform', how='inner')
sales_df = sales_df.rename(columns={'ID': 'platform_id'})

# Step 3: Merge with publisher to get publisher_id
sales_df = sales_df.merge(publisher_df[['ID', 'Publisher']], on='Publisher', how='inner', validate='many_to_one')
sales_df = sales_df.rename(columns={'ID': 'publisher_id'})

# Step 4: Keep only the necessary columns
final_sales = sales_df[['game_id', 'platform_id', 'publisher_id', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']]

final_sales

,game_id,platform_id,publisher_id,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,2,14,7.28,0.45,0.00,0.08,7.81
1,68,2,14,7.28,0.45,0.00,0.08,7.81
2,2,13,18,3.92,1.78,0.03,0.51,6.24
3,3,4,9,3.18,1.83,0.78,0.24,6.03
4,4,1,6,0.47,0.57,4.13,0.34,5.50
...,...,...,...,...,...,...,...,...
155,81,13,13,0.54,0.35,0.02,0.10,1.01
156,87,13,13,0.54,0.35,0.02,0.10,1.01
157,37,3,2,0.48,0.35,0.00,0.16,1.00
158,48,3,2,0.48,0.35,0.00,0.16,1.00
159,88,3,2,0.48,0.35,0.00,0.16,1.00

In [28]:
# Step 5: Check for any missing IDs
#missing_ids = final_sales[final_sales.isnull().any(axis=1)]
df = final_sales.drop_duplicates(inplace=True)
df

,game_id,platform_id,publisher_id,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,2,14,7.28,0.45,0.00,0.08,7.81
1,68,2,14,7.28,0.45,0.00,0.08,7.81
2,2,13,18,3.92,1.78,0.03,0.51,6.24
3,3,4,9,3.18,1.83,0.78,0.24,6.03
4,4,1,6,0.47,0.57,4.13,0.34,5.50
...,...,...,...,...,...,...,...,...
155,81,13,13,0.54,0.35,0.02,0.10,1.01
156,87,13,13,0.54,0.35,0.02,0.10,1.01
157,37,3,2,0.48,0.35,0.00,0.16,1.00
158,48,3,2,0.48,0.35,0.00,0.16,1.00
159,88,3,2,0.48,0.35,0.00,0.16,1.00

In [29]:

import pandas as pd

# Load CSVs
sales_df = pd.read_csv("demo_IDs/sales.csv")
games_df = pd.read_csv("demo_IDs/games.csv")
platform_df = pd.read_csv("demo_IDs/platform.csv")
publisher_df = pd.read_csv("demo_IDs/publisher.csv")

# Step 1: Merge with games to get game_id
sales_df = sales_df.merge(games_df[['ID', 'Title']], on='Title', how='left')
sales_df = sales_df.rename(columns={'ID': 'game_id'})
sales_df

,Title,Platform,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,game_id
0,Pac-Man,2600,Atari,7.28,0.45,0.00,0.08,7.81,1
1,Pac-Man,2600,Atari,7.28,0.45,0.00,0.08,7.81,68
2,Kinect Sports,X360,Microsoft Game Studios,3.92,1.78,0.03,0.51,6.24,2
3,Metal Gear Solid,PS,Konami Digital Entertainment,3.18,1.83,0.78,0.24,6.03,3
4,Monster Hunter Freedom Unite,PSP,Capcom,0.47,0.57,4.13,0.34,5.50,4
...,...,...,...,...,...,...,...,...,...
155,Prince of Persia,X360,Ubisoft,0.54,0.35,0.02,0.10,1.01,81
156,Prince of Persia,X360,Ubisoft,0.54,0.35,0.02,0.10,1.01,87
157,Disney Infinity,PS3,Disney Interactive Studios,0.48,0.35,0.00,0.16,1.00,37
158,Disney Infinity,PS3,Disney Interactive Studios,0.48,0.35,0.00,0.16,1.00,48
159,Disney Infinity,PS3,Disney Interactive Studios,0.48,0.35,0.00,0.16,1.00,88

In [46]:

import pandas as pd

# Load CSVs
sales_df = pd.read_csv("demo_IDs/sales.csv")
games_df = pd.read_csv("demo_IDs/games.csv")
platform_df = pd.read_csv("demo_IDs/platform.csv")
publisher_df = pd.read_csv("demo_IDs/publisher.csv")

# Step 1: Merge with games to get game_id
sales_df = sales_df.merge(games_df[['ID', 'Title']], on='Title')
sales_df = sales_df.rename(columns={'ID': 'game_id'})

sales_df

,Title,Platform,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,game_id
0,Pac-Man,2600,Atari,7.28,0.45,0.00,0.08,7.81,1
1,Pac-Man,2600,Atari,7.28,0.45,0.00,0.08,7.81,68
2,Kinect Sports,X360,Microsoft Game Studios,3.92,1.78,0.03,0.51,6.24,2
3,Metal Gear Solid,PS,Konami Digital Entertainment,3.18,1.83,0.78,0.24,6.03,3
4,Monster Hunter Freedom Unite,PSP,Capcom,0.47,0.57,4.13,0.34,5.50,4
...,...,...,...,...,...,...,...,...,...
155,Prince of Persia,X360,Ubisoft,0.54,0.35,0.02,0.10,1.01,81
156,Prince of Persia,X360,Ubisoft,0.54,0.35,0.02,0.10,1.01,87
157,Disney Infinity,PS3,Disney Interactive Studios,0.48,0.35,0.00,0.16,1.00,37
158,Disney Infinity,PS3,Disney Interactive Studios,0.48,0.35,0.00,0.16,1.00,48
159,Disney Infinity,PS3,Disney Interactive Studios,0.48,0.35,0.00,0.16,1.00,88

In [48]:
df = pd.merge(games_df, sales_df, left_on="ID", right_on="Title", how="inner")

ValueError: You are trying to merge on int64 and object columns for key 'ID'. If you wish to proceed you should use pd.concat

In [49]:
import pandas as pd

# Load CSVs
sales_df = pd.read_csv("demo_IDs/sales.csv")
games_df = pd.read_csv("demo_IDs/games.csv")
#platform_df = pd.read_csv("demo_IDs/platform.csv")
#publisher_df = pd.read_csv("demo_IDs/publisher.csv")

# Merge on 'Title' column
merged_df = pd.merge(games_df[['ID', 'Title']], sales_df, on='Title', how='inner')

# Drop 'Title' from the merged result
final_df = merged_df.drop(columns=['Title'])

# Optionally export to CSV
final_df.to_csv("merged_sales_with_ids.csv", index=False)
final_df

,ID,Platform,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,2600,Atari,7.28,0.45,0.00,0.08,7.81
1,1,NES,Namco Bandai Games,0.27,0.08,0.85,0.02,1.22
2,2,X360,Microsoft Game Studios,3.92,1.78,0.03,0.51,6.24
3,3,PS,Konami Digital Entertainment,3.18,1.83,0.78,0.24,6.03
4,4,PSP,Capcom,0.47,0.57,4.13,0.34,5.50
...,...,...,...,...,...,...,...,...
155,87,PS3,Ubisoft,0.47,0.41,0.03,0.18,1.08
156,87,X360,Ubisoft,0.54,0.35,0.02,0.10,1.01
157,88,Wii,Disney Interactive Studios,1.15,0.44,0.00,0.14,1.73
158,88,X360,Disney Interactive Studios,0.96,0.37,0.00,0.11,1.43
159,88,PS3,Disney Interactive Studios,0.48,0.35,0.00,0.16,1.00

In [51]:
# Drop duplicates based on the 'Title' column only
final_df.drop_duplicates(subset=['ID'], inplace=True)
final_df

final_df.reset_index(drop=True, inplace=True)

,ID,Platform,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,2600,Atari,7.28,0.45,0.00,0.08,7.81
2,2,X360,Microsoft Game Studios,3.92,1.78,0.03,0.51,6.24
3,3,PS,Konami Digital Entertainment,3.18,1.83,0.78,0.24,6.03
4,4,PSP,Capcom,0.47,0.57,4.13,0.34,5.50
5,5,PS2,Vivendi Games,1.73,2.19,0.00,0.79,4.70
...,...,...,...,...,...,...,...,...
151,84,DS,Electronic Arts,0.55,0.43,0.00,0.11,1.08
153,85,PS,Eidos Interactive,0.58,0.40,0.00,0.07,1.04
154,86,X360,Tecmo Koei,0.65,0.22,0.05,0.10,1.01
155,87,PS3,Ubisoft,0.47,0.41,0.03,0.18,1.08
157,88,Wii,Disney Interactive Studios,1.15,0.44,0.00,0.14,1.73

In [52]:
final_df.reset_index(drop=True, inplace=True)

In [53]:
final_df

,ID,Platform,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,2600,Atari,7.28,0.45,0.00,0.08,7.81
1,2,X360,Microsoft Game Studios,3.92,1.78,0.03,0.51,6.24
2,3,PS,Konami Digital Entertainment,3.18,1.83,0.78,0.24,6.03
3,4,PSP,Capcom,0.47,0.57,4.13,0.34,5.50
4,5,PS2,Vivendi Games,1.73,2.19,0.00,0.79,4.70
...,...,...,...,...,...,...,...,...
83,84,DS,Electronic Arts,0.55,0.43,0.00,0.11,1.08
84,85,PS,Eidos Interactive,0.58,0.40,0.00,0.07,1.04
85,86,X360,Tecmo Koei,0.65,0.22,0.05,0.10,1.01
86,87,PS3,Ubisoft,0.47,0.41,0.03,0.18,1.08
87,88,Wii,Disney Interactive Studios,1.15,0.44,0.00,0.14,1.73

In [ ]:
# Load CSVs
sales_df = pd.read_csv("demo_IDs/sales.csv")
games_df = pd.read_csv("demo_IDs/games.csv")
platform_df = pd.read_csv("demo_IDs/platform.csv")
#publisher_df = pd.read_csv("demo_IDs/publisher.csv")

# Merge on 'Title' column
merged_df = pd.merge(games_df[['ID', 'Title']], sales_df, on='Title', how='inner')

# Drop 'Title' from the merged result
final_df = merged_df.drop(columns=['Title'])

# Optionally export to CSV
final_df.to_csv("merged_sales_with_ids.csv", index=False)
final_df

In [56]:
final_sales

,game_id,platform_id,publisher_id,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,2,14,7.28,0.45,0.00,0.08,7.81
1,68,2,14,7.28,0.45,0.00,0.08,7.81
2,2,13,18,3.92,1.78,0.03,0.51,6.24
3,3,4,9,3.18,1.83,0.78,0.24,6.03
4,4,1,6,0.47,0.57,4.13,0.34,5.50
...,...,...,...,...,...,...,...,...
155,81,13,13,0.54,0.35,0.02,0.10,1.01
156,87,13,13,0.54,0.35,0.02,0.10,1.01
157,37,3,2,0.48,0.35,0.00,0.16,1.00
158,48,3,2,0.48,0.35,0.00,0.16,1.00
159,88,3,2,0.48,0.35,0.00,0.16,1.00

In [60]:
final_sales.drop_duplicates(subset=['game_id'], inplace=True)
final_sales

,game_id,platform_id,publisher_id,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,2,14,7.28,0.45,0.00,0.08,7.81
1,68,2,14,7.28,0.45,0.00,0.08,7.81
2,2,13,18,3.92,1.78,0.03,0.51,6.24
3,3,4,9,3.18,1.83,0.78,0.24,6.03
4,4,1,6,0.47,0.57,4.13,0.34,5.50
...,...,...,...,...,...,...,...,...
148,87,3,13,0.47,0.41,0.03,0.18,1.08
149,82,12,2,0.67,0.30,0.00,0.10,1.07
150,83,15,7,1.03,0.02,0.00,0.00,1.06
153,85,4,20,0.58,0.40,0.00,0.07,1.04
154,86,13,15,0.65,0.22,0.05,0.10,1.01

In [61]:
final_sales.reset_index(drop=True, inplace=True)

In [62]:
final_sales

,game_id,platform_id,publisher_id,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,2,14,7.28,0.45,0.00,0.08,7.81
1,68,2,14,7.28,0.45,0.00,0.08,7.81
2,2,13,18,3.92,1.78,0.03,0.51,6.24
3,3,4,9,3.18,1.83,0.78,0.24,6.03
4,4,1,6,0.47,0.57,4.13,0.34,5.50
...,...,...,...,...,...,...,...,...
83,87,3,13,0.47,0.41,0.03,0.18,1.08
84,82,12,2,0.67,0.30,0.00,0.10,1.07
85,83,15,7,1.03,0.02,0.00,0.00,1.06
86,85,4,20,0.58,0.40,0.00,0.07,1.04
87,86,13,15,0.65,0.22,0.05,0.10,1.01

In [63]:
final_sales.to_csv("final_sales.csv", index=False)

In [ ]:
final_sales.drop_duplicates(subset=[['game_id'],['platform_id'],['publisher_id']], inplace=True)
final_sales

final_sales.drop_duplicates(subset=[['game_id'],['platform_id'],['publisher_id']], inplace=True)
final_sales